.num-input-holder {
    display: flex;
    flex-direction: row;

    gap: 6px;
    background-color: var(--white);
    padding: 6px;
    border-radius: 28px;
    border-width: 1px;
    border-style: solid;
    align-items: center;
    justify-items: center;
}

.num-input::-webkit-outer-spin-button,
.num-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.num-input {
    -moz-appearance: textfield;
    width: 50px;
    height: 26px;
    text-align: center;
    outline: none;
    border: none;
    background-color: var(--white);

    font-family: var(--secondary-font);
    font-size: 18px;
    cursor: arrow;
}