.clipboard-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.absolute {
    width: 72px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);
}

.vertical {
    flex-direction: column;
}

.horizontal {
    flex-direction: row;
    gap: 12px;
}
