.matrix-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 100%;
    position: relative;
}

.matrix {
    display: grid;
    width: 500px;
    height: 500px;
    position: relative;
}

.cell {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;

    font-family: var(--secondary-font);
    font-size: 14px;
}

.cell:disabled {
    background-color: white;
}

.dim-holder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.double-holder {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.matrix-form {
    position: relative;
}